{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="pb2">
  <p class="f3">{{ habit.habit }} </p>
  <p>Goal: {{ habit.goal }} </p>
</div>
<a href={% url 'add_result' habit.pk %}>Add a New Result</a>

{% for result in results %}
  <p>Today's Number: {{ result.daily_record }} </p>
  <p>Date: {{ result.update_date|date:"m/d/Y" }} </p>
 <a href={% url 'edit_result'  pk=result.pk %}>Edit Result</a>
 <a href={% url 'delete_result' result_pk=result.pk %}>Delete Result</a>

 {% endfor %}


{% endblock content %}