{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="pb2">
  <p class="f3">{{ habit.habit.title }} </p>
  <p>Goal: {{ habit.goal }} {{ habit.unit }}</p>
  <button><a href={% url 'result_detail' habit.pk %} class="black no-underline">Days Goal Met</a></button>
</div>
<button><a href={% url 'add_result' habit.pk %} class="black no-underline">Add a New Result</a></button>

{% for result in results %}
{% if result.daily_record >= habit.goal %}
  <p>Daily Result: {{ result.daily_record }} {{ habit.unit }}</p>
  <p>Date: {{ result.update_date|date:"m/d/Y" }} </p>
  <p>Goal Completed: <i class="fa-solid fa-check green"></i></p>
  <button><a href={% url 'edit_result' pk=result.pk %} class="black no-underline">Edit </a></button>
  <button><a href={% url 'delete_result' result_pk=result.pk %} class="black no-underline">Delete </a></button>
{% else %}
  <p>Daily Result: {{ result.daily_record }} {{ habit.unit }}</p>
  <p>Date: {{ result.update_date|date:"m/d/Y" }} </p>
  <p>Goal Completed: <i class="fa-solid fa-xmark red"></i></p>
 <button><a href={% url 'edit_result'  pk=result.pk %} class="black no-underline">Edit </a></button>
 <button><a href={% url 'delete_result' result_pk=result.pk %} class="black no-underline">Delete </a></button>

 {% endif %}
 {% endfor %}

{% endblock content %}